<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Analizador lexico PHP</title>

	<script src="dist/js/utils.js">            </script>
	<script src="dist/js/angular.min.js">      </script>
	<script src="dist/js/angular-sanitize.js"> </script>
	<script src="dist/js/app.js">              </script>
	<script src="dist/js/language-service.js"> </script>
  <script src="dist/js/automata-service.js"> </script>	
  <script src="dist/js/angular.ui.js">	     </script>
  <!-- Icons -->
  <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Create a simple CodeMirror instance -->
  <link href="dist/lib/codemirror.css" rel="stylesheet"> 
  <script src="dist/lib/codemirror.js"> </script>    
</head>
<body ng-app="app">
<main  class="wrapper" ng-controller="EditorController as controlador" role="main">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <form action="" method="post">
          <button  class="btn btn-success" id="exampleFormControlFile1" ng-file-select="onFileSelect($files)"  onclick="document.getElementById('selectedFile').click();"><i class="fa fa-file"></i></button>
          <button href="#" class="btn btn-success"><i class="fa fa-eraser" aria-hidden="true"></i></button>
        </form>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <!-- <a href="#" class="nav-link">Contact</a> -->
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        
        <div class="input-group-append">
          
        </div>
      </div>
    </form>
  </nav>
    <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="" class="brand-link">
      <img src="dist/img/logo-universidad-la-salle.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">L-Programacion03</span>
    </a>

  
    <div class="sidebar">
      <!--  panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">Jose.C Peraltilla N</a>
          <a href="#" class="d-block">Fran.G Felix G</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item has-treeview menu-open">
            <a class="nav-link active">
              <i class="nav-icon"></i>
              <p>
                Menú
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a class="nav-link" ng-click="controlador.CambioEnEditor();">
                  <i class="fa fa-circle nav-icon"></i>
                  <p>Léxico</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      
    </div>
    
  </aside>

  S
  <div class="content-wrapper">
 
    <div class="content-header">

    </div>
    
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">

            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Editor</h5>
              </div>
              <div class="card-body">

                <textarea class="form-control" id="editor" name="editor" rows="12" ng-model="controlador.codigo" ng-model-options="{ debounce: 1000 }" ui-codemirror></textarea>
                
              </div>
            </div>            
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">

            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Análisis Léxico</h5>
              </div>
              
              <div class="card-body" style="max-height: 320px !important; overflow: auto;">
                <div class="card-header">
									Tokens
								</div>
								<div class="card-body">
									<ul class="list-group list-group-flush px-1 py-1">
										<li class="list-group-item px-1 py-1" ng-bind-html="controlador.RenderToken(token.string)" ng-repeat="token in controlador.tokens track by $index"></li>
									</ul>
								</div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Tabla De Símbolos
                  </h5>
                  <button aria-label="Cerrar" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                      ×
                    </span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Línea</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Valor</th>
                      </tr>
                    </thead>
                    <tbody>                                      	
                      <tr ng-repeat="simbolo in controlador.simbolos track by $index">
                        <th scope="row">{{simbolo.nombre}}</th>
                        <td>{{simbolo.linea + 1}}</td>
                        <td>{{simbolo.valor}}</td>
                        <td>{{simbolo.valor}}</td>
                      </tr>                                        
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        
        </div>
        
      </div>
    </div>
   
  </div>
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

</main>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<script data-auto-replace-svg="nest" src="dist/js/all.js"></script>
<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<script src="dist/js/plugins/popper/popper.min.js"></script>
</body>
</html>
